<!DOCTYPE html>
<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Patience</title>
    </head>
    <body>
        <h1>/ascii/</h1>
        <form method="post">
            <label>title <input type="text" name="title" value="{{title}}"></label>
            <br>
            <br>
            <label>
            <div>Art</div>
            <textarea name="art">{{art}}</textarea>
            </label>
            <div class="error">
                {{error}}
            </div>
            <button type="submit" name="button">Submit</button>
        </form>
    <hr>
  {%for art in arts%}
  <div class="title">{{art.title}}</div>
  <pre class="art">{{art.art}}</pre>
  {%endfor%}
    </body>
</html>
